body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.menu {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cccccc;
}

.item {
  padding: 2px 6px;
  cursor: default;
}

.item-highlighted {
  color: white;
  background-color: #4095bf;
}

.autocomplete {
  position: relative;
  display: inline-block;
}